@page "/About"

<PageTitle>About us</PageTitle>

<body>
    <NavBar></NavBar>
    <section id="about" class="about">
        <div id="containerAbout" class="container fuild" data-aos="fade-up">
            <div class="row g-9 g-lg-5 " data-aos="fade-up" data-aos-delay="200">
                <div class="col-lg-5">
                    <div class="about-img">
                        <img src="https://firebasestorage.googleapis.com/v0/b/scheduleplatform.appspot.com/o/aboutUs.png?alt=media&token=0e62b55f-dc56-4c42-bec8-f387cff66a0f" class="img-fluid center-block" alt="">
                    </div>
                </div>
                <div class="col-lg-7">
                    <h3 class="pt-0 pt-lg-5">Our highly qualified and experienced team deliver complex treatment services designed around the needs and goals of each individual.</h3>

                    <ul class="nav nav-pills mb-3">
                        <li><a class="nav-link active" data-bs-toggle="pill" href="#tab1">Dietetic Services</a></li>
                        <li><a class="nav-link" data-bs-toggle="pill" href="#tab2">Why choosing us</a></li>
                        <li><a class="nav-link" data-bs-toggle="pill" href="#tab3">What else we can offer</a></li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="tab1">
                            <p class="fst-italic">Our dietitians want to help you reach your goals and empower you to make positive change.</p>
                            <div class="d-flex align-items-center mt-4">
                                <i class="bi bi-check2"></i>
                                <h4>Individualised treatments</h4>
                            </div>
                            <p>Each service is tailored for each specific person; one size does not fit all.</p>
                            <div class="d-flex align-items-center mt-4">
                                <i class="bi bi-check2"></i>
                                <h4>Behaviour change/ lifestyle modification</h4>
                            </div>
                            <p>Positive health improvements and to challenge and change negative behaviours and mindsets.</p>
                            <div class="d-flex align-items-center mt-4">
                                <i class="bi bi-check2"></i>
                                <h4>Education</h4>
                            </div>
                            <p>For individuals, families, and carers/support teams.</p>
                        </div>

                        <div class="tab-pane fade show" id="tab2">
                            <p class="fst-italic">We are an established, growing, and professional nutrition counseling provider</p>
                            <div class="d-flex align-items-center mt-4">
                                <i class="bi bi-arrow-right"></i>
                                <h4>Every body is a different body </h4>
                            </div>
                            <p>One size doesn’t fit all when it comes to nutrition counseling. Everyone’s lifestyle and health goals are different. Our dietitian nutritionists will build on your history, goals, and unique challenges to create individualized plans that work for you.</p>
                            <div class="d-flex align-items-center mt-4">
                                <i class="bi bi-arrow-right"></i>
                                <h4>Our approach is science-based and sustainable.</h4>
                            </div>
                            <p>Tired of bouncing from diet to diet and Googling nutrition advice? Quick fixes aren’t long-term solutions. You’ll achieve and maintain your goals with our personalized, sustainable nutrition plans.</p>
                            <div class="d-flex align-items-center mt-4">
                                <i class="bi bi-arrow-right"></i>
                                <h4>We are convenient and accessible.</h4>
                            </div>
                            <p>Our registered dietitian nutritionists accommodate your schedule with daytime sessions that suit you best</p>
                        </div>

                        <div class="tab-pane fade show" id="tab3">
                            <p class="fst-italic">Our team of dietitians is one of the most impressive you will find anywhere. We have proven ourselves in the fields of diet and nutrition, including sports nutrition, gut health, weight management, vegan diets, eating disorders and more.</p>
                            <div class="d-flex align-items-center mt-4">
                                <i class="bi bi-balloon-heart"></i>
                                <h4>Our team members</h4>
                            </div>
                            <p>Each dietitian has been chosen by us for their outstanding qualifications, their first-class communication skills, their exceptional expertise and personalised approach. Whichever member of our team you choose to work with you will find them attentive and professional right from the get-go.</p>
                            <div class="d-flex align-items-center mt-4">
                                <i class="bi bi-balloon-heart"></i>
                                <h4>Evidence-Based Nutrition</h4>
                            </div>
                            <p>Evidence-based nutrition is using peer-reviewed studies and clinical experience to offer the best possible nutrition advice. It is all about having scientifically proven evidence that something works (or helps) in relation to achieving a pre-determined goa</p>
                            <div class="d-flex align-items-center mt-4">
                                <i class="bi bi-balloon-heart"></i>
                                <h4>Will I be Put on A Diet?</h4>
                            </div>
                            <p>The term diet has changed quite significantly from its popular past definition. While weight loss is still a common goal, Nutrition One Click Away isn’t about telling you to reduce your calorie intake. It is about working together to come up with a structured, balanced, realistic, and effective nutrition plan that you can follow in order to help you reach your goals.</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</body>


@code {

}

