#containerAbout {
    margin-top: 100px;
}

.about .about-img {
    position: relative;
    margin: 60px 0 0 60px;
}

.about-img {
    margin-top: 200px;
}


.about .about-img:before {
    position: absolute;
    inset: -60px 0 0 -60px;
    z-index: -1;
    content: "";
    background: url(https://firebasestorage.googleapis.com/v0/b/scheduleplatform.appspot.com/o/rehabilitation-dietitian-acc.jpg?alt=media&token=5c97c24f-ccb9-44d3-bc08-f1f9e3e1beb2) top left;
    background-repeat: no-repeat;
}

@media (max-width: 575px) {
    .about .about-img {
        margin: 30px 0 0 30px;
    }

        .about .about-img:before {
            inset: -30px 0 0 -30px;
        }
}

.about h3 {
    color: var(--color-secondary);
    font-family: var(--font-secondary);
    font-weight: 300;
    font-size: 32px;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .about h3 {
        font-size: 28px;
    }
}

.about .nav-pills {
    border-bottom: 1px solid rgba(var(--color-secondary-rgb), 0.2);
}

    .about .nav-pills li + li {
        margin-left: 40px;
    }

.about .nav-link {
    background: none;
    font-size: 18px;
    font-weight: 400;
    color: #F45B69;
    padding: 12px 0;
    margin-bottom: -2px;
    border-radius: 0;
    font-family: var(--font-secondary);
}

    .about .nav-link.active {
        color: var(--color-primary);
        background: none;
        border-bottom: 3px solid var(#EBEBEB);
    }

@media (max-width: 575px) {
    .about .nav-link {
        font-size: 16px;
    }
}

.about .tab-content h4 {
    font-size: 18px;
    margin: 0;
    font-weight: 700;
    color: var(--color-secondary);
}

.about .tab-content i {
    font-size: 22px;
    line-height: 0;
    margin-right: 8px;
    color: var(--color-primary);
}
