@page "/About"
@using SchedulePlatform.WebUI.Shared

<PageTitle>About us</PageTitle>

<head>
    <link href="css/Basestyle.css" rel="stylesheet"/>
</head>
<body>
    <div class="banner">
         <Navbar />
    </div>
</body>
