@page "/Appointment"
@using SchedulePlatform.WebUI.Pages;
@using System.ComponentModel.DataAnnotations;
@inject IJSRuntime JsRuntime

@inherits LayoutComponentBase

<PageTitle>Appointment </PageTitle>

<body>
    <NavBar></NavBar>
    <section id="Appointment" class="appointment">
        <div class="containerAppointment" data-aos="fade-up">
            <div class="row">
                <div class="col-md-7 col-md-push-5">
                    <div class="appointment-cta">
                        <h1>Schedule your Appointment</h1>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi facere, soluta magnam consectetur molestias itaque
                            ad sint fugit architecto incidunt iste culpa perspiciatis possimus voluptates aliquid consequuntur cumque quasi.
                            Perspiciatis.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-md-pull-7">
                    <div class="appointment-form">
                        <form>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <span class="form-label">Date appointment</span>
                                        <input type="date" @bind-value="DateTimeTest" @onclick="DateValidator" required>

                                        <MatButton @onclick="@(_ =>
                                                               {
                                                                   DateTimeTest = null;
                                                               })">
                                            Clear
                                        </MatButton>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <span class="form-label">Service</span>
                                        <select class="form-control">
                                            <option>Service 1</option>
                                            <option>Service 2</option>
                                            <option>Service 3</option>
                                            <option>Service 4</option>
                                        </select>
                                        <span class="select-arrow"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <span class="form-label">Nutritionist</span>
                                        <select class="form-control">
                                            <option>Nutritionist 1</option>
                                            <option>Nutritionist 2</option>
                                            <option>Nutritionist 3</option>
                                            <option>Nutritionist 4</option>
                                        </select>
                                        <span class="select-arrow"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-btn">
                                <button class="submit-btn">Proceed with next step </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>


@code
{

    public DateTime? DateTimeTest { get; set; }

    public void DateValidator(MouseEventArgs e)
    {
        if (DateTimeTest?.DayOfWeek == DayOfWeek.Sunday || DateTimeTest?.DayOfWeek == DayOfWeek.Saturday)
        {
            JsRuntime.InvokeAsync<object>("window.alert", "Please select a day from Monday to Friday");
            DateTimeTest = null;
        }

        else
        {
            JsRuntime.InvokeAsync<object>("windows.alert", "Proceed with next step");
        }

    }
}





