@page "/Appointment"


<PageTitle>Appointment </PageTitle>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=delice-width,initial-scale=1" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link href="css/defaultStyle.css" rel="stylesheet" />
</head>

<body>
    <NavBar></NavBar>
</body>







@code {


    private DraftAppointment appointment = new DraftAppointment();

    public class DraftAppointment
    {
        public Guid Id { get; set; }

        public DateTime StartDate { get; set; }

        public DateTime EndDate { get; set; }

        public Boolean IsOnSite { get; set; }

        public TypeAppointment Type { get; set; }

        public Guid NutritionistId { get; set; }

        public Nutritionist Nutritionist { get; set; }

        public Guid CustomerId { get; set; }

        public Customer Customer { get; set; }
    }

    public enum TypeAppointment
    {
        Finalised,
        ToDo,
        Canceled
    }

    public class Nutritionist
    {
        public Guid Id { get; set; }
        public string? FirstName { get; set; }
        public string? LastName { get; set; }
        public string? Email { get; set; }
        public string? Phone { get; set; }
        public string? Biography { get; set; }
        public Uri? PictureUrl { get; set; }
        public string? Address { get; set; }
        public List<Appointment> Appointments { get; set; }
    }

    public class Customer
    {
        public Guid Id { get; set; }
        public string? FirstName { get; set; }
        public string? LastName { get; set; }
        public string? Email { get; set; }
        public string? Phone { get; set; }
        public List<Appointment> Appointments { get; set; }
    }


}



