@page "/"
@page "/HomepageGrid"
@inject NavigationManager navigationManager

<PageTitle>Homepage</PageTitle>

<body>

    <NavBar></NavBar>

    <section id="hero">
        <div class="container-fluid">
            <div class="row gx-5">
                <div class="col ">
                    <h1>Nutrition<br>One click away</h1>
                    <p>The word ‘diet’ has developed negative connotations which can deter people from accessing services. A dietitian will never force you to follow a specific plan; they will guide you, support you, and provide you with options specific to you and your needs. Our dietitians want to help you reach your goals and empower you to make positive change.</p>
                    <button @onclick=@Navigate type="button" class="btn btn-dark btn-large">Make an appointment </button>
                </div>
                <div class="col img-col">
                    <img src="https://firebasestorage.googleapis.com/v0/b/scheduleplatform.appspot.com/o/Nutrition.webp?alt=media&token=8b9274bf-1f33-4116-b38f-b28e8c5785ce" class="img-thumbnail rounded mx-auto d-block" alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="why-us">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 d-flex align-items-stretch">
                    <div class="content">
                        <h3>Why Choose Nutrition,One click-away?</h3>
                        <p>
                            Our Accredited Practicing Dietitians can help you address any nutritional concerns you may have. They can assess your health conditions, work with you and your family to set realistic and achievable goals, devise a treatment plan to optimise your diet quality, and help improve your overall nutritional status.
                        </p>
                        <div class="text-center">
                            <a class="more-btn" @onclick="@MoreInfo">Learn More <i class="bx bx-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 d-flex align-items-stretch">
                    <div class="icon-boxes d-flex flex-column justify-content-center">
                        <div class="row">
                            <div class="col-xl-4 d-flex align-items-stretch">
                                <div class="icon-box mt-4 mt-xl-0 ">
                                    <img class="img-thumbnail rounded mx-auto d-block" src="https://firebasestorage.googleapis.com/v0/b/scheduleplatform.appspot.com/o/pngwing.com%20(1).png?alt=media&token=c0a75171-0d43-4ee4-be82-3005046a9be3" />
                                    <h4>Our team</h4>
                                    <p>Dietitians are governed by the regulatory body Dietitians Romania. Dietitians in Romania who meet strict criteria are eligible to join the CDR ( Colegiul Dieteticienilor din Romania).</p>
                                </div>
                            </div>
                            <div class="col-xl-4 d-flex align-items-stretch">
                                <div class="icon-box mt-4 mt-xl-0">
                                    <img class="img-thumbnail rounded mx-auto d-block" src="https://firebasestorage.googleapis.com/v0/b/scheduleplatform.appspot.com/o/91719-week-illness-mental-graphic-health-design-line.png?alt=media&token=76b3a368-ccb9-40d7-b3e7-952bd97c4be0" />
                                    <h4>Feed your mind</h4>
                                    <p>When you stick to a diet of nutrient-rich foods, you're setting yourself up for fewer mood swings and an improved ability to focus. Studies have even found that clean diets consisting of mainly whole, unprocessed foods, can help with symptoms of depression and anxiety</p>
                                </div>
                            </div>
                            <div class="col-xl-4 d-flex align-items-stretch">
                                <div class="icon-box mt-4 mt-xl-0">
                                    <img class="img-thumbnail rounded mx-auto d-block" src="https://firebasestorage.googleapis.com/v0/b/scheduleplatform.appspot.com/o/5-2-health-free-png-image.png?alt=media&token=815bd145-fce0-441d-bf32-1f237a054fcb" />
                                    <h4>Feed your body</h4>
                                    <p>Good nutrition is just as important as exercise for your overall health. By Improving your diet, you will enjoy increased energy levels, a stronger immune system, and generally feel well more often. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="contact">
        <div class="container">
            <div class="row align-items-center">
                <div class="col">
                    <h1>Contact US</h1>
                    <p>schedulingplatformnutrition@gmail.com                     Phone Number- 0788339820</p>
                </div>
            </div>
        </div>
    </section>
</body>

@code {

    void Navigate()
    {
        navigationManager.NavigateTo("/Appointment");
    }

    void MoreInfo()
    {
        navigationManager.NavigateTo("/About");
    }

}

