@page "/homepage"

<PageTitle>Homepage</PageTitle>
<head>
    <link href="css/Basestyle.css" rel="stylesheet"/>
</head>
<body>
    <div class="banner">
        <div class="navbar">
            <img src="https://firebasestorage.googleapis.com/v0/b/scheduleplatform.appspot.com/o/Screenshot_2023-03-04_at_19.47.53-removebg-preview.png?alt=media&token=8152b2ad-defd-4db0-bd2a-9e944034af3c" class="logo-png">
            <div class="logo"><a>Nutritional Counseling platform</a></div>
            <ul class="links">
                <li><a href="Homepage">Home</a></li>
                <li><a href="Team">Team</a></li>
                <li><a href="Services">Services</a></li>
                <li><a href="About">About us</a></li>
            </ul>
        </div>

        <div class="content-home">
            <h1>Nutrition counseling and support for every body!</h1>
            <p> No diets <br /> No gimmicks <br /> No trying to make one plan work for every unique body.</p>
            <div>
                <button class="appoint" onclick="Appointment" type="button"><span></span>Get appointment</button>
            </div>
        </div>
    </div>

    <main>

    </main>

</body>

@code {

}

