@page "/homepage"
@using SchedulePlatform.WebUI.Shared
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
<PageTitle>Homepage</PageTitle>
<head>
    <link href="css/Basestyle.css" rel="stylesheet"/>
</head>
<body>
    <div class="banner">
        <Navbar />
        <div class="content-home">
            <h1>Nutrition counseling and support for every body!</h1>
            <p> No diets <br /> No gimmicks <br /> No trying to make one plan work for every unique body.</p>
            <div>
                <button class="appoint" onclick="Appointment" type="button"><span></span>Get appointment</button>
            </div>
        </div>
    </div>

    <main>

    </main>

</body>

@code {

}

