@page "/Services"
@using SchedulePlatform.Models.Entities
@using SchedulePlatform.WebUI.Shared
@inject HttpClient HttpClient
@inherits LayoutComponentBase

<PageTitle>Services</PageTitle>

<head>
    <link href="css/Basestyle.css" rel="stylesheet"/>
</head>
<body>
    <div>
        <div class="banner">
            <Navbar />
            <div class="content">
                @foreach (var item in services)
                {
                    <div class="card mb-2" style="width:20rem" >
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="@item.UrlPicture" class="img-thumbnail" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5>@item.NameServiceProvided</h5>
                                    <p class="card-text">Consultation: @item.Type</p>
                                    <p class="card-text">Price: @item.Price</p>
                                    <a href="#" class="btn btn-primary"> See service</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

      
    </div>
   
</body>
