@page "/Team"
<PageTitle>Meet the team</PageTitle>

<head>
    <link href="css/Basestyle.css" rel="stylesheet"/>
</head>
<body>
    <div class="banner">
        <div class="navbar">
            <img src="https://firebasestorage.googleapis.com/v0/b/scheduleplatform.appspot.com/o/Screenshot_2023-03-04_at_19.47.53-removebg-preview.png?alt=media&token=8152b2ad-defd-4db0-bd2a-9e944034af3c" class="logo-png">
            <div class="logo"><a>Nutritional Counseling platform</a></div>
            <ul class="links">
                <li><a href="Homepage">Home</a></li>
                <li><a href="Team">Team</a></li>
                <li><a href="Services">Services</a></li>
                <li><a href="About">About us</a></li>
            </ul>
        </div>
        <div class="py-5 bg-light team1">
            <div class="container">
                <div class="row justify-content-center mb-3">
                    <div class="col-md-7 text-center">
                        <h3 class="mb-3">Experienced & Professional Team</h3>
                        <h6 class="subtitle font-weight-normal">You can relay on our amazing features list and also our customer services will be great experience for you without doubt and in no-time</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card card-shadow border-0 mb-4">
                            <div class="row no-gutters">
                                <div class="col-md-5 pro-pic" style="background: url(https://firebasestorage.googleapis.com/v0/b/scheduleplatform.appspot.com/o/pngtree-a-dietitian-offers-proper-nutrition-or-junk-food-isolated-on-a-png-image_4915567.jpeg?alt=media&token=2d0e2db3-3ac6-4a3b-8303-cfc089168c63) center center no-repeat / cover">
                                </div>
                                <div class="col-md-7 bg-white">
                                    <div class="p-4">
                                        <h6 class="mb-3 font-weight-medium">Michael Doe</h6>
                                        <p>You can relay on our amazing features list and also our customer services will be great experience.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card card-shadow border-0 mb-4">

                            <div class="row no-gutters card-shadow">
                                <div class="col-md-5 pro-pic" style="background: url(https://firebasestorage.googleapis.com/v0/b/scheduleplatform.appspot.com/o/pngtree-a-dietitian-offers-proper-nutrition-or-junk-food-isolated-on-a-png-image_4915567.jpeg?alt=media&token=2d0e2db3-3ac6-4a3b-8303-cfc089168c63) center center no-repeat / cover">
                                </div>
                                <div class="col-md-7 bg-white">
                                    <div class="p-4">
                                        <h6 class="mb-3 font-weight-medium">Michael Doe</h6>
                                        <p>You can relay on our amazing features list and also our customer services will be great experience.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>



@code {

}
